.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 
}
.nav {
    background-color: #333;
    overflow: hidden;
  }
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .nav a:hover {
    background-color: rgb(8, 20, 187);
    color: black;
  }
  
  .nav a.active {
    background-color: #33aa04;
    color: white;
  }