.container {
    padding: 0px;
  }
.logo {
    margin-top: 27px !important;
    margin-left: 30px;
  }
  .main-nav {
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 40px;
    min-height: 80px;
    background: #fff;
  }
  .main-nav .logo {
    float: left;
    margin-top: 37px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
  }
