.logo{
    margin-top: 25px;
}
.nav{
    background-color: blue;
    text-align:10px;
}
ul.nav {
    display: table;
    width: 100%;
    text-align: center;
  }
  
  ul.nav > li {
    display: inline;
  }
